[submodule "lib/tensor_toolbox"]
	path = lib/tensor_toolbox
	url = https://gitlab.com/tensors/tensor_toolbox.git
[submodule "lib/TrialData"]
	path = lib/TrialData
	url = https://github.com/limblab/TrialData.git
